body {
  background-color: #f5f5f5;
}

.container {
  margin-top: 5%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #aaa;
  background-color: #fff;
}

.form-label {
  text-align: left;
}

.form-control {
  max-width: 300px;
  width: 100%;
}

button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
